
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h2 {
  text-align: center;
  color: #e9990e;;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  color: #e9990e;;
}

input {
  padding: 5px;
  border: 1px solid #e9990e;;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #e9990e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
